ItemBundles Unity/*
!ItemBundles Unity/Assets/
ItemBundles Unity/Assets/*
!ItemBundles Unity/Assets/ItemBundles/
!ItemBundles Unity/Assets/ItemBundles/**
ItemBundles Unity.zip
ItemBundles Code/plugins/SeroRonin-ItemBundles/ItemBundles.dll
ItemBundles Code/plugins/SeroRonin-ItemBundles/ItemBundles.dll
